// src/toastConfig.js
import { toast } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
import "./styles/toastStyles.css"; // Make sure this path is correct

export const showToast = (message, type = "default") => {
  toast(message, {
    type,
    autoClose: 3000,
    hideProgressBar: true,
    closeOnClick: false,        // Click does not cancel autoClose
    pauseOnHover: false,        // Hover does not pause
    pauseOnFocusLoss: false,    // Focus loss does not pause
    draggable: false,
  });
};

